@model List<Reservation>
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Reservation List";
}



<div class="row">
    <div class="col-sm-10">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Reservation Date</th>
                    <th>Reservation Time</th>
                    <th>People</th>
                    <th>Note</th>
                    <th></th>

            </thead>
            <tbody>
                @foreach (var reservation in Model)
                {
                    <tr>
                        <td>@reservation.Fname</td>
                        <td>@reservation.Lname</td>
                        <td>@reservation.Email</td>
                        <td>@reservation.PhoneNumber</td>
                        <td>@reservation.ReserveDate</td>
                        <td>@reservation.ReserveTime</td>
                        <td>@reservation.People</td>
                        <td>@reservation.Note</td>

                        <td>

                            <a asp-action="Delete"
                           asp-route-id="@reservation.Id"
                           class="btn btn-danger">Delete</a>

                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

